<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.client.member.dao.MemberDao">

	<select id="joinIdCheck" parameterType="String" resultType="int">
		SELECT count(*)
		FROM client
		WHERE c_id = #{c_id}
	</select>
	
	<select id="joinEmailCheck" parameterType="String" resultType="int">
		SELECT count(*)
		FROM client
		WHERE c_email = #{c_email}
	</select>

	<insert id="joinSubmit" parameterType="member">
		<selectKey keyProperty="c_num" resultType="int" order="BEFORE">
			SELECT client_seq.nextval
			FROM dual
		</selectKey>
		INSERT INTO client(c_num, c_id, c_pwd, c_name, c_email, c_phone, c_birth, c_gender, c_position, c_memo)
		VALUES(#{c_num}, #{c_id}, #{c_pwd}, #{c_name}, #{c_email}, #{c_phone}, #{c_birth}, #{c_gender}, #{c_position}, #{c_memo})
	</insert>
	
	<select id="loginSubmit" parameterType="String">
		SELECT count(*)
		FROM client
		WHERE c_id = #{c_id} AND c_pwd = #{c_pwd}
	</select>
</mapper>
